.navbar{
    display: flex;
    align-items: center;
    color: white;
    background-color: rgba(91, 26, 30, 1);
    font-size: 13px;
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar > h1{
    margin-left: 20px;
    margin-right: auto;
}

.navbar > h2{
    margin-right: 20px;
}



  
@media (max-width: 450px){
    .navbar{
        font-size:10px ;
    }
}
