.navbar{
    display: flex;
    align-items: center;
    color: white;
    background-color: black;
}

.navbar > h1{
    margin-left: 20px;
    margin-right: auto;
}

.navbar > h2{
    margin-right: 20px;
}


