.intropage{
    height: 70vh;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
}


.introhead1{
    margin-top: 2px;
    font-size: 100px;
    margin-bottom: 0%;
}

.introhead2{
    margin-top: 0%;
    margin-bottom: 0%;
}

.typewriter{
    font-size: 2rem;
    font-weight: 700;
}